.container-bg{
	background: url('../img/bg-activity.jpg') no-repeat center;
	width: 100%;
	min-width: 1400px;
	height: 3411px;
	position: relative;
}
.container{
	padding-top: 950px;
	width: 1200px;
	margin: 0 auto
}
.img-center{
	display: block;
	margin: 0 auto
}
.clears:after{
	content: '';
	clear: both;
	display: block;
}
.items-bg{
	text-align: center;
	color:#fff;
}
.second-div{
	font-size: 26px;
}
.items-bg li p{
	font-size: 16px;
}
.items-bg li .first-div{
	margin: 25px 0 40px;
	font-size: 60px;
}
.items-bg li{
	background: url('../img/items-bg.png') no-repeat center;
	width: 398px;
	height: 258px;
	float: left;
}
.title-box{
	margin-bottom: 30px
}
.margin-b{
	margin-bottom: 40px
}

.rule-bg{
	background: url('../img/rule-bg.png')  no-repeat center;
	width: 100%;
	height: 573px;
	padding:0 30px;
}

.invite-box{
	background: url('../img/invite-box.png')  no-repeat center;
	width: 100%;
	height:313px;
	margin-bottom: 40px;
}
.rule-bg ul{
	color:#434343;
	font-size: 22px;
	padding: 60px 80px 0;
}
.rule-bg ul li{
	margin-top: 30px;
}
.Lists{
	background: url('../img/Lists-item.png')  no-repeat center;
	width: 35px;
	height: 30px;
	display: inline-block;
	color:#fff;
	text-indent: 10px;
	font-style: normal;
	line-height: 30px;
	margin-right: 10px;
}

.footer-box{
	text-align: center;
	font-size: 16px;
	color:#000;
}

.invite-section{
	padding: 70px 135px 0;
}
.invite-section div span{
	color:#E81C6A;
	font-size: 26px;
	margin-top: 15px;
	float: left;
	font-weight: bold;

}

.text-input{
	margin-top: 15px;
	float: left;
	border:1px solid #D6D6D6;
	width: 600px;
	line-height: 40px;
	border-radius: 4px;
	text-indent: 30px;
}
.copy-btn{
	float: left;
	background: url('../img/copy-btn.png')  no-repeat center;
	width: 173px;
	height:69px;
	margin-left: 10px;
	display: inline-block;
	transition: all .3s;
	cursor: pointer
}
.copy-btn:hover{
	transform: scale(1.1);
}
.invite-section div{
	position: relative;
}
.copy-info{
	position: absolute;
    right: -35px;
    font-size: 12px;
    color: red;
    top: 25px;
}
.hide{
	display: none
}

.invite-section p i{
	font-size: 12px;
	color:#fff;
	font-style: normal;
	text-indent: 6px;
	vertical-align: top;
}
.pinkred{
	color:#e81c6a;
}
.invite-section p{
	font-size: 20px;
	color:#535353;
	font-weight: bold;
	margin-top: 20px;
}

.icon-min-list{
	background: url('../img/icon-min-list.png')  no-repeat center;
	width: 24px;
	height:20px;
	display: inline-block;
	margin-right: 5px
}

