<!--底部-->
<div class="footerPart">
    <div>
        <div>
            <font>关于小鸽</font>
            <ul>
                <li>
                    <a href="about_xg_company.html">公司简介</a>
                </li>
                <li>
                    <a href="about_xg_contact.html">联系我们</a>
                </li>
                <li>人才招聘</li>
            </ul>
        </div>
        <div>
            <font>信息披露</font>
            <ul>
                <li><a href="about_xg_company.html"><span>关于小鸽</span></a></li>
                <li><a href="bank_dep.html"><span>银行存管</span></a></li>
                <li><a href="security.html"><span>安全保障</span></a></li>
                <!-- <li><a href="business.html"><span>业务介绍</span></a></li> -->
                <li><a href="supervision.html"><span>监管机构</span></a></li>
                <li><a href="laws_page.html"><span>法律法规</span></a></li>
                <li><a href="risk.html"><span>风险提示</span></a></li>
            </ul>
        </div>
        <div>
            <font>投资问题</font>
            <ul>
                <li>常见问题</li>
                <li><a href="about_xg_toll.html">收费标准</a></li>
                <li>运作模式</li>
                <li>
                    <a href="laws_page.html">平台协议</a>
                </li>
                <li>
                    <a href="privacy_policy.html" target="_blank">隐私条款</a>
                </li>
            </ul>
        </div>
        <div>
            <font>客服热线</font>
            <ul>
                <li><span class="phoneIcon"></span> 400-700-4007</li>
                <li class="time">周一 ~ 周五： 09:00 - 12:00<br><span style="padding-left: 92px;">13:30 - 18:30</span></li>
                <!-- <li class="time">周六 ~ 周日： 09:00 - 18:00</li> -->
                <li><span class="emailIcon"></span> kefu@xiaogelicai.com</li>
            </ul>
        </div>
        <div>
            <font>关注我们</font>
            <ul>
                <li>
                    <div>小鸽理财APP</div>
                    <div></div>
                </li>
                <li>
                    <div>订阅号</div>
                    <div></div>
                </li>
                <li>
                    <div>服务号</div>
                    <div></div>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <ul>
            <li>友情链接</li>
            <li>
                <a href="https://www.tsign.cn" target="_blank">e签宝</a>
            </li>
            <li>
                <a href="https://www.wdzj.com" target="_blank">网贷之家</a>
            </li>
            <li>
                <a href="https://www.p2peye.com" target="_blank">网贷天眼</a>
            </li>
        </ul>
    </div>
    <div>
        <p>copyright&copy;2016-2017 深圳市温馨港湾网络技术有限公司 版权所有</p>
        <p>icp备案
            <a href="http://www.miit.gov.cn">粤ICP备14025100号</a> 理财有风险 投资需谨慎</p>
        <div>
            <!--可信网站图片LOGO安装开始-->
            <script src="https://kxlogo.knet.cn/seallogo.dll?sn=e17081144030068573cqng000000&size=0"></script>
            <!--可信网站图片LOGO安装结束-->
            <script language="javascript" type="text/javascript" src="https://seal.wosign.com/tws.js"></script>
            <!-- <div class="bottomSafe">
                <a href="http://www.gdnet110.gov.cn/" target="_blank"></a>
            </div> -->
            <div class="bottomIcp">
                <a href="http://www.miit.gov.cn" target="_blank"></a>
            </div>
        </div>
    </div>
    <div class="right-float">
        <div class="call-service">
            <a href="javascript:;" id="J_desk"></a>
        </div>
        <div class="go-top">
            <a id="goTop" href="javascript:;"></a>
        </div>
    </div>
</div>
<script>
$(function() {
    $('a#goTop').click(function() {
        $('html , body').animate({ scrollTop: 0 }, 'slow');
    });
})
var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b7f00304029723fca4fc0f1946ce8012";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();

$('#J_desk').click(function() {
    window.open("https://xiaoge.udesk.cn/im_client/?web_plugin_id=54058&cur_url=" + escape(location.href) + "&pre_url=" + escape(document.referrer), "udesk_im", "width=780,height=560,top=200,left=350,resizable=yes");
});
</script>
