<!--jquery-->
<script src="../js/jquery.min.js?ver=1" type="text/javascript" charset="utf-8"></script>
<!--[if IE 8]>
<script src="../js/jquery-1.9.1.min.js?ver=1" type="text/javascript"></script>
<![endif]-->
<!--页面js-->
<script src="../js/anjbo_Utils.js?ver=1" type="text/javascript" charset="utf-8"></script>
<!--swiper js-->
<script src="../js/swiper-4.2.6.min.js?ver=1" type="text/javascript" charset="utf-8"></script>
<!--sha256加密 js 库文件-->
<script type="text/javascript" src="./js/hmac-sha256.js?ver=1" ></script>
<!--base64加密 js 库文件-->
<script type="text/javascript" src="./js/enc-base64-min.js?ver=1" ></script>
<!--3DES加密 js 库文件-->
<script type="text/javascript" src="./js/3DES.js?ver=1" ></script>
<!--base.js封装加密调用JS文件-->
<script type="text/javascript" src="./js/base.js?ver=1" ></script>