div.protocolLoanContent {
    width: 100%;
    background: #f5f5f5;
}

div.protocolLoanContent>div:nth-child(1) {
    /* position: relative; */
    width: 1205px;
    top: 40px;
    margin: 0 auto;
    background: url(../../images/june_promotion/bgWaterMark.png)center center repeat;
    background-size: 300px auto;
    padding-bottom: 50px;
}

div.protocolLoanContent>div:nth-child(1)>div:nth-child(1) {
    width: 100%;
    height: 160px;
    background: url(../../images/june_promotion/protocolTopBg.png)top center no-repeat;
    background-size: 100% auto;
}

div.protocolLoanContent>div:nth-child(1)>div:nth-child(2) {
    position: relative;
    margin-top: 36px;
    padding: 0 40px;
}

div.protocolLoanContent>div:nth-child(1)>div:nth-child(2)>p {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #555;
}

div.protocolLoanContent>div:nth-child(1)>div:nth-child(2)>span {
    position: absolute;
    display: block;
    padding: 10px 14px;
    left: 40px;
    border-radius: 4px;
    color: #fff;
    background: #ea553a;
    cursor: pointer;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, .2);
    font-size: 18px;
}

div.protocolLoanContent>div:nth-child(1)>div:nth-child(3) {
    margin-top: 55px;
}

div.protocolLoanContent>div:nth-child(1)>div:nth-child(3)>p {
    font-size: 24px;
    color: #212121;
    padding: 0 40px;
}

div.protocolLoanContent>div:nth-child(1)>div:nth-child(4) {
    position: relative;
    padding: 0 40px;
}

span.sealImg {
    position: absolute;
    width: 217px;
    height: 219px;
    right: 150px;
    bottom: -16px;
    background: url(../../images/june_promotion/sealImg.png)center center no-repeat;
    background-size: 100% auto;
}

div.protocolLoanContent>div:nth-child(1)>div:nth-child(5) {
    padding: 0 40px;
}

div.protocolLoanContent>div:nth-child(1)>div:nth-child(5)>p {
    color: #212121;
    font-size: 24px;
    line-height: 44px;
    padding-top: 15px;
}

div.protocolLoanContent>div:nth-child(1)>div:nth-child(5)>p:nth-child(6) {
    display: block;
}

div.protocolLoanContent>div:nth-child(1)>div:nth-child(5) table {
    width: 674px;
    height: 503px;
    color: #212121;
    font-size: 24px;
}

div.protocolLoanContent>div:nth-child(1)>div:nth-child(5) table td {
    width: 50%;
}
table,
tr,
td {
    border: 1px solid #cecece;
}

table {
    width: 100%;
    margin-top: 36px;
}

table td {
    padding: 20px 34px;
    font-size: 24px;
    color: #212121;
}

table tr:nth-child(odd) {
    background: #f7f4ee;
}

table tr:nth-child(even) {
    background: #fff;
}

table tr:nth-child(1) {
    background: #e6f1fa;
}

table tr.F2F2 {
    background: #f2f2f2;
}