.account .center {
  background: #f4f4f4;
}

.account .center .inner {
  width: 1160px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.account .center .top-data {
  margin-bottom: 20px;
}

.account .center .top-data-left {
  float: left;
  width: 570px;
  height: 230px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 28px;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.account .center .top-data-left .data-line {
  font-size: 16px;
  line-height: 40px;
  color: #282828;
}

.account .center .top-data-left .data-line .data-title {
  display: inline-block;
  width: 150px;
}

.account .center .top-data-left .data-line .data-padding {
  padding-right: 35px;
}

.account .center .top-data-left .data-line .href {
  cursor: pointer;
  color: #3a85f6;
}

.account .center .top-data-right {
  float: right;
  width: 570px;
  height: 230px;
  box-sizing: border-box;
  padding-top: 21px;
  background: #fff url(/static/img/loan_account.png) center bottom no-repeat;
  background-size: contain;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.account .center .top-data-right .title {
  font-size: 14px;
  line-height: 36px;
  color: #999;
  position: relative;
}

.account .center .top-data-right .title .balances {
  position: absolute;
  right: 20px;
  top: 0;
  color: #3a85f6;
  cursor: pointer;
}

.account .center .top-data-right .money {
  font-size: 38px;
  line-height: 48px;
  color: #000;
  font-weight: bold;
}

.account .center .top-data-right .btn_ch {
  padding-top: 23px;
}

.account .center .top-data-right .btn_ch button {
  font-size: 16px;
  width: 158px;
  height: 34px;
  line-height: 8px;
  background: #f07935;
  color: #fff;
  border-color: #f07935;
  border-radius: 2px;
}

.account .center .top-data-right .btn_withd {
  padding-top: 6px;
}

.account .center .top-data-right .btn_withd button {
  background: #fff;
  color: #f07935;
  font-size: 16px;
  width: 158px;
  height: 34px;
  line-height: 8px;
  border-color: #f07935;
  border-radius: 2px;
}

.account .center .down-data {
  width: 100%;
  min-height: 1204px;
  box-sizing: border-box;
  padding-left: 38px;
  padding-right: 38px;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.account .center .down-data .header-tab li {
  float: left;
  line-height: 62px;
  font-size: 16px;
  color: #444;
  text-align: center;
  border-bottom: 2px solid #fff;
  margin-right: 40px;
  cursor: pointer;
}

.account .center .down-data .header-tab li.active {
  border-bottom: 2px solid #f07935;
}

.account .center .down-data .center-list {
  padding-top: 35px;
}

.account .center .down-data .center-list .table-link {
  color: #3a85f6;
  cursor: pointer;
}

.account .center .down-data .center-list .page-line {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}

.account .change-password {
  position: absolute;
  z-index: 9;
}

.account .change-password .block {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.account .change-password .window {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 380px;
  height: 444px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  background: #fff;
  padding-left: 40px;
  padding-right: 40px;
}

.account .change-password .window .title p {
  font-size: 20px;
  line-height: 100px;
  color: #333;
  font-weight: bold;
}

.account .change-password .window .input-line {
  border: 1px solid #e0e0e0;
  position: relative;
  z-index: 2;
}

.account .change-password .window .input-line.b-1 {
  top: -1px;
  z-index: 3;
}

.account .change-password .window .input-line.b-2 {
  top: -2px;
  z-index: 4;
}

.account .change-password .window .input-line.warning {
  z-index: 9;
  border: 1px solid #db4c3f;
}

.account .change-password .window .input-line input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  padding: 16px;
  border-radius: 0;
  border: none;
  outline: none;
}

.account .change-password .window .tips {
  padding-top: 24px;
}

.account .change-password .window .tips p {
  font-size: 14px;
  line-height: 14px;
  color: #db4c3f;
}

.account .change-password .window .btn {
  padding-top: 24px;
}

.account .change-password .window .btn button {
  width: 100%;
  height: 50px;
  font-size: 14px;
  color: #fff;
  border-color: #f07935;
  background: #f07935;
  border-radius: 2px;
}

.account .change-password .window .close {
  position: absolute;
  top: 21px;
  right: 22px;
  width: 14px;
  height: 15px;
  cursor: pointer;
}

.account .change-password .window .close img {
  display: block;
  width: 100%;
}

.account .withdraw_window .withdraw_title {
  font-size: 14px;
  line-height: 50px;
  color: #363636;
  padding-right: 13px;
}

.account .withdraw_window .withdraw_num {
  width: 230px;
}

.changePassword-enter-active,
.changePassword-leave-active {
  transition: opacity 0.5s;
}

.changePassword-enter,
.changePassword-leave-to {
  opacity: 0;
}
