p,body{margin:0; padding:0;}
a{color:#000;text-decoration:none;}
body{
  font-family: "Microsoft YaHei","ו";
  background:#fff;
  position:relative; 
  max-width:640px;
  border-top:1px solid #c6c6c6;
  }
.clear{clear:both; width:100%; height:1px;}
.no-f{
  width:100%;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  z-index:999;
  display:none;
}
.no-f img{ display:block; margin:50px auto 0 auto;width:20%;}
.no-f p{line-height:70px; text-align:center;  color:#7a7979;font-size:14px;}
.top{
  width:100%;
  background:#f0f0f0;
  height:40px;
  line-height:40px;
  color:#909090;
  font-size:14px;
}
.fr{float:right;}
.top span{
  margin:0 5%;
  display:inline-block;
}
.box{
  width:90%;
  margin:13px auto;
  height:60px;
  padding-bottom:10px; 
  border-bottom:1px solid #aeaeae;
}
.box img{width:60px;height:60px;float:left;margin-right:10px;border-radius:50%;}
.name{line-height:60px;display:inline-block;float:left;color:#4d4d4d; font-size:13px;}
.box div{display:inline-block;float:right; text-align:right;color:#909090; font-size:12px;}
.date{line-height:30px;font-size:13px;}
.red{color:#e92803;}
 