* {
    margin: 0;
    padding: 0;
    font-family: "黑体", "微软雅黑";
}

body {
    max-width: 640px;
    background: #f2f2f2;
    padding-bottom: 65px;
}

li {
    list-style: none;
}

.clear {
    width: 100%;
    clear: both;
}

#inv .head-data {
    background: #ff5637;
}

#inv .head-data .center-box {
    width: 100%;
    text-align: center;
    padding: 12px 0;
}

#inv .head-data .center-box #total {
    color: #fff;
    font-size: 40px;
    line-height: 54px;
}

#inv .head-data .center-box .text {
    color: #fff;
    font-size: 14px;
    line-height: 19px;
    font-weight: lighter;
}

#inv .head-data .double-box {
    width: 100%;
    text-align: center;
    padding-bottom: 14px;
}

#inv .head-data .double-box .left {
    width: 50%;
    float: left;
}

#inv .head-data .double-box .right {
    width: 50%;
    float: left;
    display: inline-block;
}

#inv .head-data .double-box .left #person-num,
#inv .head-data .double-box .right #be-closed {
    color: #fff;
    font-size: 12px;
    line-height: 26px;
}

#inv .head-data .double-box .left .text,
#inv .head-data .double-box .right .text {
    color: #fff;
    font-size: 12px;
    line-height: 19px;
    font-weight: lighter;
}

#inv .main-data .title-box {
    height: 39px;
    background: #fff;
    border-bottom: #e6e6e6 solid 1px;
}

#inv .main-data .title-box .left,
#inv .main-data .title-box .right {
    width: 50%;
    float: left;
    text-align: center;
}

#inv .main-data .title-box a {
    display: inline-block;
    padding: 0 8px;
    color: #555;
    font-size: 14px;
    line-height: 37px;
    font-weight: bold;
    border-bottom: #fff solid 2px;
}

#inv .main-data .title-box a.active {
    color: #ff5637;
    border-bottom: #ff5637 solid 2px;
}

#inv .main-data .left-box,
#inv .main-data .right-box {
    width: 100%;
}

#inv .main-data .left-box .empty,
#inv .main-data .right-box .empty {
    display: none;
    width: 100%;
    text-align: center;
    padding-top: 58px;
}

#inv .main-data .left-box .empty.show,
#inv .main-data .right-box .empty.show {
    display: block;
}

#inv .main-data .left-box .empty p,
#inv .main-data .right-box .empty p {
    color: #999;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 26px;
}

#inv .main-data .left-box .empty button,
#inv .main-data .right-box .empty button {
    height: 40px;
    width: 140px;
    color: #fff;
    font-size: 16px;
    background: #ff5637;
    border: none;
    border-radius: 20px;
}

#inv .main-data .left-box .data-list,
#inv .main-data .right-box .data-list {
    display: none;
    padding: 0 3.3%;
}

#inv .main-data .left-box .data-list.show,
#inv .main-data .right-box .data-list.show {
    display: block;
}

#inv .main-data .left-box .data-list li {
    padding: 15px 0 9px;
    border-bottom: #b6b6b6 solid 1px;
}

#inv .main-data .left-box .data-list li:after {
    content: "";
    display: block;
    clear: both;
}

#inv .main-data .left-box .data-list li .left {
    float: left;
    padding-left: 8px;
}

#inv .main-data .left-box .data-list li .right {
    float: right;
    padding-right: 17px;
    text-align: right;
}

#inv .main-data .left-box .data-list li .left .person-name,
#inv .main-data .left-box .data-list li .right .status {
    display: block;
    color: #555;
    font-size: 14px;
    line-height: 20px;
}

#inv .main-data .left-box .data-list li .left .person-name {
    position: relative;
}

#inv .main-data .left-box .data-list li .left .leve-1:after,
#inv .main-data .left-box .data-list li .left .leve-2:after {
    content: "";
    height: 16px;
    width: 45px;
    position: absolute;
    right: -50px;
    top: 3px;
}

#inv .main-data .left-box .data-list li .left .leve-1:after {
    background: url("../images/person_level_1.png") no-repeat center;
    background-size: contain;
}

#inv .main-data .left-box .data-list li .left .leve-2:after {
    background: url("../images/person_level_2.png") no-repeat center;
    background-size: contain;
}

#inv .main-data .left-box .data-list li .left .person-phone,
#inv .main-data .left-box .data-list li .right .reg {
    display: block;
    color: #999;
    font-size: 12px;
    line-height: 20px;
}

#inv .main-data .right-box .data-list li {
    padding: 23px 0;
    border-bottom: #b6b6b6 solid 1px;
}

#inv .main-data .right-box .data-list li .list-date {
    display: inline-block;
    width: 32%;
    color: #555;
    font-size: 14px;
    line-height: 20px;
    padding-left: 1.5%;
}

#inv .main-data .right-box .data-list li .list-type {
    display: inline-block;
    width: 33%;
    color: #555;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

#inv .main-data .right-box .data-list li .list-amount {
    display: inline-block;
    width: 32%;
    color: #555;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    padding-right: 1.5%;
}

#inv .foot-financial {
    display: none;
    width: 22%;
    position: fixed;
    right: 0;
    bottom: 122px;
}

#inv .foot-financial.show {
    display: block;
}

#inv .foot-financial a {
    display: block;
}

#inv .foot-financial img {
    width: 100%;
    height: 100%;
}

#inv .foot-position {
    width: 100%;
    background: #ff5637;
    position: fixed;
    left: 0;
    bottom: 0;
}

#inv .foot-position a#footFriends {
    float: left;
    height: 44px;
    width: 50%;
    color: #fff;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    position: relative;
}
#inv .foot-position a#footFriends img ,
#inv .foot-position a#f2f img {
    width: 21px;
    position: relative;
    top: 3px;
    padding-right: 7px;
}
#inv .foot-position a#f2f {
    float: right;
    height: 44px;
    width: 50%;
    color: #545454;
    background: #fff;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    position: relative;
} 

/*----------------当面邀请弹窗-----------------*/

#inv #face-2-face {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#inv #face-2-face.show {
    display: block;
}

#inv #face-2-face .block {
    width: 100%;
    height: 100%;
    background: #ffdbbe;
}

#inv #face-2-face .block.show {
    animation: show-block 0.3s ease-out;
    -webkit-animation: show-block 0.3s ease-out;
}

#inv #face-2-face .block.clos {
    animation: clos-block 0.3s ease-out;
    -webkit-animation: clos-block 0.3s ease-out;
}

#inv #face-2-face .window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 81.3%;
    height: 350px;
    margin-left: -40.65%;
    margin-top: -175px;
}

#inv #face-2-face .window.show {
    animation: show-window 0.3s ease-out;
    -webkit-animation: show-window 0.3s ease-out;
}

#inv #face-2-face .window .out {
    position: absolute;
    left: 0;
    top: -55px;
    width: 100%;
}

#inv #face-2-face .window .out p {
    font-size: 14px;
    line-height: 20px;
    color: #a16d42;
    text-align: center;
}

#inv #face-2-face .window .title {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 12px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

#inv #face-2-face .window .title img {
    float: left;
    padding-left: 37px;
    width: 10.32%;
    padding-top: 4px;
}

#inv #face-2-face .window .title p.phone-num {
    font-size: 14px;
    color: #545454;
    line-height: 20px;
    padding-left: 86px;
}

#inv #face-2-face .window .title p.txt {
    font-size: 12px;
    color: #999;
    line-height: 19px;
    padding-left: 83px;
}

#inv #face-2-face .window .bg {
    display: block;
    width: 100%;
}

#inv #face-2-face .window .code {
    padding-top: 24px;
    padding-bottom: 36px;
    background: #fff;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

#inv #face-2-face .window .code img {
    width: 62.3%;
    display: block;
    margin: 0 auto;
}

#inv #face-2-face .window.clos {
    animation: clos-window 0.3s ease-out;
    -webkit-animation: clos-window 0.3s ease-out;
}

#inv #face-2-face .window #f2f-clos {
    height: 45px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -100px;
    text-align: center;
}

#inv #face-2-face .window #f2f-clos img {
    height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    #inv #face-2-face .window #f2f-clos {
        bottom: -66px;
    }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
    #inv #face-2-face .window #f2f-clos {
        bottom: -110px;
    }
}

@media screen and (min-width: 414px) {
    #inv #face-2-face .window #f2f-clos {
        bottom: -140px;
    }
}

@keyframes show-window {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes show-block {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes clos-window {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes clos-block {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}