p,body{margin:0; padding:0;}
a{color:#000;text-decoration:none;}
body{
  font-family: "Microsoft YaHei","ו";
  background:#fff;
  position:relative; 
  }
.clear{clear:both; width:100%; height:1px;}
.img-box{
   display:block;
   width:28%;
   margin:30px auto;
 }
 h1{
   text-align:center;
   font-weight:normal;
   color:#666;
   font-size:16px;
   margin:25px 0;
 }
 p{
   line-height:29px;
   text-align:center;
   font-size:15px;
   width:90%;
   color:#909090;
   margin:0 auto;
 }
 .ok-but{
	 width:30%;
height:40px;
line-height:40px;
text-align:center;
color:#fff;
background:#eb5830;
margin:30px auto 20px auto;
font-size:15px;
 }
.ok-but:active{
  opacity:0.5;
}