p,body{margin:0; padding:0;}
a{color:#000;text-decoration:none;}
body{
  font-family: "Microsoft YaHei","ו";
  background:#f2f2f2;
  position:relative; 
  max-width:640px;
  border-top:1px solid #ddd;
  }
.clear{clear:both; width:100%; height:1px;}
.main-box{
  width:94%;
  margin:0 auto;
  position:relative;
  margin-top:12px;
}
.img-box{
  display:block;
  width:100%;
 }
 .state{
   position:absolute;
   top:10px;
   right:10px;
   width:64px;
   line-height:28px;
   text-align:center;
   color:#999;
   font-size:12px;
   height:32px;
   background:url(../images/702.png) no-repeat center center;
 }
 

 