<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>信息披露</title>
    <!--#include virtual="_inc/_inc_import_css.html" -->
    <!--#include virtual="_inc/_inc_import_js.html" -->
</head>

<body>
    <!--#include virtual="_inc/_inc_import_header.html" -->
    <!--内容部分-->
    <div class="inf-dis">
        <div class="content">
            <div class="left-box about_xg">
                <div class="head-title">
                    <h2>关于小鸽</h2>
                </div>
                <div class="center-piece">
                    <div class="piece">
                        <h4>公司介绍</h4>
                        <p>深圳市温馨港湾网络技术有限公司（以下简称我司）成立于2013年12月，注册资本5000万元，是一家专注于为有资产的优质客户提供抵押或信用贷款的网络借贷信息中介服务平台，总部位于深圳市南山区。我司融合“互联网+金融”,一直以来秉持规范、安全、透明、诚信的经营准则，为用户提供T+1高效安全的互联网投融资信息中介服务。</p>
                    </div>
                    <div class="piece">
                        <h4>营业信息</h4>
                        <p>公司全称：深圳市温馨港湾网络技术有限公司
                            <br>平台名称：小鸽理财
                            <br>ICP证号：粤ICP备14025100号-5
                            <br>注册资本：5000万
                            <br>实缴资本：5000万
                            <br>注册地址：深圳市南山区粤海街道科技园虚拟大学园粤兴五道9号北理工创新大厦12层
                            <br>成立时间：2013年12月26日
                            <br>法定代表人：莫立水
                            <br>经营范围：计算机软硬件、电子产品、电器产品的技术开发、技术咨询与销售，网络软件的技术开发、销售，网页的设计、会务策划、商务信息咨询、互联网信息服务等</p>
                    </div>
                    <div class="piece">
                        <h4>管理团队</h4>
                        <!-- <div class="person">
                            <img src="../img/about_xg_team_01.jpg">
                            <div class="right">
                                <h5>沈畅<span>总裁</span></h5>
                                <p>北京大学MBA。曾任职于工商银行深圳分行个人业务部负责个贷产品设计，具有9年个人贷款产品制度制定、营销管理及多年产品设计经验，行业资源丰富。<br>在金融领域拥有独到见解，现全面负责公司管理。</p>
                            </div>
                            <div class="clear"></div>
                        </div> -->
                        <div class="person">
                            <img src="../img/about_xg_team_02.jpg">
                            <div class="right">
                                <h5>周翔<span>总裁</span></h5>
                                <p>曾任职于中国工商银行深圳分行及永亨银行（中国）总行资产管理部门，担任资产管理业务主负责人，超10年资产管理行业经验，精通本币/外汇、贵金属、大宗商品、债券及股票等领域，具有丰富从业经验和深入金融资产研究。
                                    <br>曾管理超过300亿资产，单只产品规模超30亿。服务对象包括华为、富士康、中广核、大鹏液化、招商局等大型企业，所在团队多次获得深圳市金融创新奖项。
                                    <br>现任小鸽理财总裁，现全面负责公司管理。</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="person">
                            <img src="../img/about_xg_team_03.jpg">
                            <div class="right">
                                <h5>李坚华<span>首席风控官</span></h5>
                                <p>信贷风险高级管理人才 资深风控专家。
                                    <br>曾先后就职于中国工商银行金融信贷部门、中国工商银行深圳沙井支行行长助理等核心岗位，具有10余年金融信贷的从业经营、项目管理经验，熟知金融行业各项流程与监管政策， 2007年7月至2015年在中国工商银行金融信贷部门任职，期间累计成功发放个人贷款50亿元。
                                    <br>现任小鸽理财风控首席风控官，统筹业务风险管控。</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="person">
                            <img src="../img/about_xg_team_05.jpg">
                            <div class="right">
                                <h5>彭磊<span>市场营销部总监</span></h5>
                                <p>曾任职于中国工商银行深圳市分行机构金融资产托管业务负责人，近10年机构金融、资产托管、资产管理经验，历任券商理财、信托计划、保险资产、公募&私募基金、互联网等行业高层管理岗位，运营资产规模近万亿。
                                    <br>在证券投资结构化配资、股票质押式回购、资产证券化、定向增发、委外投资等领域有丰富的项目经验，深谙资本运作规律和企业融资需求及发展风险，累计经手资金规模过千亿，曾操盘招商银行信贷资产证券化、招商银行大股东增持、招商蛇口工业区资产证券化、万科事业合伙人计划、中广核集团企业年金等重大项目。</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="person">
                            <img src="../img/about_xg_team_04.jpg">
                            <div class="right">
                                <h5>陈波<span>互联网部总监</span></h5>
                                <p>知名互联网金融平台产品负责人，互联网金融资深产品人。
                                    <br>曾就职于某知名一线平台，从业四年期间，平台交易额突破200亿，用户500万，担任平台用户运营、银行存管、产品优化等大型项目核心负责人，在产品理念、运营管理及客户体验领域经验丰富。
                                    <br>现任小鸽理财产品总监，统筹互联网端产品运营。</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="piece">
                        <h4>组织架构</h4>
                        <div class="arch">
                            <!-- <span class="arch-1 arch-out"><span class="wind">产品中心：<br>根据公司整体发展策略, 负责对公司产品全面规划迭代。</span></span>
                            <span class="arch-2 arch-out"><span class="wind">运营中心：<br>负责公司资金产品的整体运营、营销推广工作，提升市场占有率。</span></span>
                            <span class="arch-3 arch-out"><span class="wind">平台研发中心：<br>负责公司互联网平台及内部系统的开发工作。</span></span>
                            <span class="arch-4 arch-out"><span class="wind">风控中心：<br>负责风控政策的制定和风险审批的执行。</span></span>
                            <span class="arch-5 arch-out"><span class="wind">法律合规中心：<br>在法律文件、业务合规、产品设计等方面提供全方位的专业法律服务。确保平台合规合法，投资人的权益受法律保护。</span></span>
                            <span class="arch-6 arch-out"><span class="wind">客户服务部：<br>负责公司理财客户的运营和维护。</span></span>
                            <span class="arch-7 arch-out"><span class="wind">人力资源中心：<br>负责公司人力资源的管理，为公司提供和培养合格的人才。</span></span>
                            <span class="arch-8 arch-out"><span class="wind">行政中心：<br>负责公司行政后勤，公司福利，物品采购等工作。</span></span>
                            <span class="arch-9 arch-out"><span class="wind">财务部：<br>负责公司整体财务相关工作，包括现金出纳，财务报表制作分析等。</span></span>
                            <span class="arch-10 arch-out"><span class="wind">品牌部：<br>负责公司企业文化梳理、对外宣传推广及公关工作。</span></span> -->
                        </div>
                    </div>
                    <div class="piece">
                        <h4>资质证书</h4>
                        <div class="container">
                            <div class="pictureSlider poster-main" data-setting='{"width":852,"height":274,"posterWidth":417,"autoPlay":true,"posterHeight":274,"scale":0.8,"delay":2000,"speed":300}'>
                                <div class="poster-btn poster-prev-btn"></div>
                                <ul class="poster-list">
                                    <li class="poster-item">
                                        <a href="javascript:;"><img src="../img/card_1.jpg" width="100%" height="100%"></a>
                                    </li>
                                    <li class="poster-item">
                                        <a href="javascript:;"><img src="../img/card_2.png" width="100%" height="100%"></a>
                                    </li>
                                    <li class="poster-item">
                                        <a href="javascript:;"><img src="../img/card_3.png" width="100%" height="100%"></a>
                                    </li>
                                    <li class="poster-item">
                                        <a href="javascript:;"><img src="../img/card_4.png" width="100%" height="100%"></a>
                                    </li>
                                    <li class="poster-item">
                                        <a href="javascript:;"><img src="../img/card_5.jpg" width="100%" height="100%"></a>
                                    </li>
                                </ul>
                                <div class="poster-btn poster-next-btn"></div>
                            </div>
                        </div>
                    </div>
                    <div class="piece">
                        <h4>公司环境</h4>
                        <div class="img-box">
                            <img src="../img/about_xg_photo_01.jpg">
                            <img src="../img/about_xg_photo_02.jpg">
                            <img src="../img/about_xg_photo_03.jpg">
                            <img src="../img/about_xg_photo_04.jpg">
                            <img src="../img/about_xg_photo_05.jpg">
                            <img src="../img/about_xg_photo_06.jpg">
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 侧边栏 -->
            <!--#include virtual="_inc/_inc_import_right_box.html" -->
            <div style="clear: both;"></div>
        </div>
    </div>
    <!--#include virtual="_inc/_inc_import_footer.html" -->
    <script src="../js/carousel.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(function() {
        Information.initFunc();
        $(".right-box ul li").eq(0).addClass('active')
        $(".arch .arch-out").on('mouseenter', function() {
            $(this).children(".wind").addClass('show')
        })
        $(".arch .arch-out").on('mouseleave', function() {
            $(this).children(".wind").removeClass('show')
        })
    })
    var Information = {
        initFunc: function() {
            Carousel.init($(".pictureSlider"));
        }
    };
    </script>
</body>

</html>