<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>信息披露</title>
    <!--#include virtual="_inc/_inc_import_css.html" -->
    <!--#include virtual="_inc/_inc_import_js.html" -->
</head>

<body>
    <!--#include virtual="_inc/_inc_import_header.html" -->
    <!--内容部分-->
    <div class="inf-dis">
        <div class="content">
            <div class="left-box about_xg">
                <div class="head-title">
                    <h2>重大事项</h2>
                </div>
                <div class="center-piece">
                    <div class="piece">
                        <h4>重大事项</h4>
                        <div class="ul-major">
                            <ul>
                                <li>
                                    <span>公司减资、合并、分立解散或申请破产：</span>
                                    <span>无</span>
                                </li>
                                <li>
                                    <span>公司依法进入破产程序：</span>
                                    <span>无</span>
                                </li>
                                <li>
                                    <span >公司被责令停业、整顿、关闭：</span>
                                    <span>无</span>
                                </li>
                                <li style="height: 73px;">
                                    <span style="line-height: 24px;height: 73px;padding-top: 14px;">公司涉及重大诉讼、仲裁，或涉嫌违法违规被有权机关调查，或受到刑事处罚、重大行政处罚：</span>
                                    <span style="height: 73px;line-height: 73px;">无</span>
                                </li>
                                <li style="height: 122px;">
                                    <span style="line-height: 24px;height: 122px;padding-top: 14px;">公司法定代表人、持股5%以上股东、实际控制人、主要负责人、董事、监事、高级管理人员涉及重大诉讼、仲裁，或涉嫌违法违纪被有权机关调查，或受到刑事处罚、重大行政处罚，或被采取强制措施</span>
                                    <span style="height: 122px;line-height: 122px;">无</span>
                                </li>
                                <li>
                                    <span>公司主要或者全部业务陷入停顿：</span>
                                    <span>无</span>
                                </li>
                                <li style="height: 73px;">
                                    <span style="line-height: 24px;height: 73px;padding-top: 14px;">存在欺诈、损害出借人利益等其他影响网络借贷信息中介机构经营活动的重大事项：</span>
                                    <span style="height: 73px;line-height: 73px;">无</span>
                                </li>
                                <li style="height: 73px;">
                                    <span style="line-height: 24px;height: 73px;padding-top: 14px;">公司法定代表人、持股5%以上的股东、实际控制人、主要负责人、董事、监事、高级管理人员的变更信息：</span>
                                    <span style="height: 73px;line-height: 73px;color: #4a9df4;"><a target="_block" href="./2018_5_19_5.pdf">2018年5月19日 5%以上股东变更</a></span>
                                </li>
                                <li>
                                    <span>其他重大事项：</span>
                                    <span>无</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 侧边栏 -->
            <!--#include virtual="_inc/_inc_import_right_box.html" -->
            <div style="clear: both;"></div>
        </div>
    </div>
    <!--#include virtual="_inc/_inc_import_footer.html" -->
    <script type="text/javascript">
    $(function() {
        $(".right-box ul li").eq(4).addClass('active')
        $(".arch .arch-out").on('mouseenter', function() {
            $(this).children(".wind").addClass('show')
        })
        $(".arch .arch-out").on('mouseleave', function() {
            $(this).children(".wind").removeClass('show')
        })
    })
    </script>
</body>

</html>