<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>关于小鸽</title>
		<!--#include virtual="_inc/_inc_import_css.html" -->
		<!--#include virtual="_inc/_inc_import_js.html" -->
	</head>

	<body>

		<!--#include virtual="_inc/_inc_import_header.html" -->

		<!--内容部分-->
		<div class="aboutUsContent">
			<div>
				<!--left-->
				<div>
					<span><span></span>关于小鸽</span>
					<span id="contactUs" data-href="about_xg_contact.html"><span></span>联系我们</span>
				</div>
				<!--right-->
				<div class="aboutUs_rightPart">
					<div>
						<p>关于小鸽理财</p>
					</div>
					<div>小鸽理财介绍</div>
					<div>
						<p>深圳市温馨港湾网络技术有限公司（简称“小鸽理财”）</p>
						<p>是在深圳前海注册的第一家专注房产抵押模式的互联网金融服务平台，注册资本5000万元。</p>
						<p>“小鸽理财”融合“互联网+金融+房产”，以规范，安全，透明，诚信为经营准则，采用SOP标准化作业，贷前多重风控审核，择优选择标的放标、贷中、贷后系统实时运维+人工复核管控，共28道风控流程确保稳健安全，且所有理财项目均有第三方机构提供担保及代偿保障。当前业务范围已覆盖深圳，广州，东莞，惠州，厦门，郑州，杭州，其他省份将陆续展开。
						</p>
					</div>
					<div>经营特色</div>
					<div>
						<div>
							<p>专注房产抵押类贷款业务</p>
						</div>
						<div>
							<p>超短期，高息</p>
						</div>
						<div>
							<p>10年风控团队，阿里金融云</p>
						</div>
						<div>
							<p>第三方机构担保代偿</p>
						</div>
					</div>
					<div>我们的产品</div>
					<div>
						<div>
							<p>房优选</p>
							<p>精选定期理财标，每周限量特供，周期1-12个月</p>
						</div>
						<div>
							<p>定存宝</p>
							<p>投资周期1~24个月，往期年化收益8%~12%，可债转</p>
						</div>
						<div>
							<p>超短期散标</p>
							<p>周期 7~90天，灵活高息，往期年化收益7%</p>
						</div>
						<div>
							<p>债权转让</p>
							<p>视转让标的而定，折价率最高10%</p>
						</div>
					</div>
					<div>我们的优势</div>
					<div>
						<div>
							<p>100元起投灵活搭配</p>
							<p>80%理财产品期限为7-90天 最 低100元起投投资周期短，闲置资 金利用率高。 </p>
						</div>
						<div>
							<p>多重保障<br />严格风控机制</p>
							<p>严格规范的银行存管机制，账户资 金全程由银行监管完善的投前 、投中、投后服务、房产抵押模式 、理财安全不用愁。 </p>
						</div>
						<div>
							<p>专业高效<br />模式成熟稳健</p>
							<p>系统级运作体系，业务流程简单快 捷，凭证规范，数据透明专注有抵 押理财垂直细分领域，面向全国， 实力有保障。</p>
						</div>
					</div>
					<div>办公环境</div>
					<div></div>
				</div>
			</div>
		</div>
		
		<!--#include virtual="_inc/_inc_import_footer.html" -->
	</body>
	<script>
		$('#contactUs').on('click',function(){
			Web.go($(this).attr("data-href"));
		});
	</script>
</html>