<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>忘记密码</title>
		<!--#include virtual="_inc/_inc_import_css.html" -->
		<!--#include virtual="_inc/_inc_import_js.html" -->
	</head>

	<body>

		<!--登陆页面头部-->
		<div class="login_headerPart">
			<div id="logo">
				<div onclick="window.location.href='index.html'"></div>
				<div>忘记密码</div>
			</div>
		</div>

		<!--这里是内容部分-->
		<div class="forget_content">
			<div>
				<div>请输入以下信息重新设置密码</div>
				<div><input type="number" id="phoneNumber" oninput="Utils.inputLimitlengthFunc($(this),11)" placeholder="请输入账号对应手机号码" />
					<div></div>
				</div>
				<div><input type="number" id="photoCode" oninput="Utils.inputLimitlengthFunc($(this),4)" placeholder="请输入图片验证码" /><span><img id="imgCode" src="" alt="" /></span>
					<div></div>
				</div>
				<div><input type="number" id="validateCode" oninput="Utils.inputLimitlengthFunc($(this),6)" placeholder="请输入手机验证码" /><span><button id="validateCodeBth">获取验证码</button></span>
					<div></div>
				</div>
				<div><input type="password" id="password1" placeholder="请输入新密码(6-20位字母和数字)" maxlength="20" />
					<div></div>
				</div>
				<div><input type="password" id="password2" placeholder="请再次输入新密码" maxlength="20" />
					<div></div>
				</div>
				<div><button>确认修改</button></div>
				<!--mark 跳转注册成功界面-->
			</div>
		</div>

		<!--底部-->
		<div class="login_footerPart">
			<div>
				<ul>
					<li>
						<a href="about_xg_company.html">关于我们</a>
					</li>
					<li>
						<a href="laws_page.html">法律法规</a>
					</li>
					<li>
						<a href="about_xg_contact.html">联系我们</a>
					</li>
					<li>
						<a href="#">帮助中心</a>
					</li>
				</ul>
			</div>
			<div>
				<ul>
					<li>&copy;2016-2017 xiaogelicai.com</li>
					<li>深圳市温馨港湾网络技术有限公司</li>
					<li>备案号： 粤ICP备14025100号-5</li>
				</ul>
			</div>
		</div>
	</body>
	<script>
		$(function() {
			Forget.initFunc();
		});
		var Forget = {
			//信息是否完成
			infoComplete: false,

			initFunc: function() {
				var self = this;
				self.requestImgFunc();
				self.clickFunc();
				self.blurFunc();
			},

			//页面点击事件
			clickFunc: function() {
				var self = this;
				//验证码图片点击事件
				$('img#imgCode').on('click', function() {
					Forget.requestImgFunc();
				});

				//短信验证码点击发送
				$('button#validateCodeBth').on('click', function() {
					if(!Utils.checkLogin() && $('input#photoCode').val() && $('input#phoneNumber').val() && Forget.infoComplete) {
						self.requestSmsFunc($('input#photoCode').val(), $('input#phoneNumber').val());
					} else {
						alert('请先填写上面的信息');
					}
				});
			},

			//input 失去焦点事件
			blurFunc: function() {
				$('input#phoneNumber').blur(function() {
					var self = this;
					var errorPart;
					if(!Utils.checkPhone($(self).val())) {
						Forget.infoComplete = false;
						errorPart = $(self).val() ? '* 输入错误，请重新输入' : ' ';
					} else {
						Forget.infoComplete = true;
						errorPart = ' ';
						Forget.requestImgFunc($(self).val());
					}
					$(self).parent().find('div').html(errorPart);
				});

				//密码判断
				$('input#password1').blur(function() {
					var self = this;
					var errorPart;
					if(!Utils.checkPassword($(self).val())) {
						Forget.infoComplete = false;
						errorPart = $(self).val() ? '* 输入错误，请重新输入' : ' ';
					} else {
						Forget.infoComplete = true;
						errorPart = ' ';
					}
					$(self).parent().find('div').html(errorPart);
				});

				//密码再次确认
				$('input#password2').blur(function() {
					var self = this;
					var errorPart;
					if(!Utils.checkPassword($(self).val())) {
						Forget.infoComplete = false;
						errorPart = $(self).val() ? '* 输入错误，请重新输入' : ' ';
					} else {
						if($('input#password1').val() != $('input#password2').val()) {
							errorPart = $(self).val() ? '* 两次密码不一致，请重新输入' : ' ';
						} else {
							Forget.infoComplete = true;
							errorPart = ' ';
						}
					}
					$(self).parent().find('div').html(errorPart);
				});

			},

			//获取图片验证码
			requestImgFunc: function(number) {
				var phoneNumber = number || '15888888888';
				if(!Utils.checkLogin()) {
					$.ajax({
						type: "POST",
						headers: {
							"clientType": base.dataWithoutToken.clientType,
							"clientVersion": base.dataWithoutToken.clientVersion,
							"sign": base.getPostStrWithoutToken({
								cellphone: phoneNumber
							}),
							"imei": base.dataWithoutToken.timeStamp,
							"timeStamp": base.dataWithoutToken.timeStamp,
						},
						data: {
							cellphone: phoneNumber
						},
						dataType: 'json',
						async: false,
						url: '/api/img/code',
						success: function(data) {
							if(data.status == 0) {
								$('img#imgCode').attr('src', 'data:image/png;base64,' + data.result);
							}
						}
					});
				}
			},

			//获取短信验证码
			requestSmsFunc: function(photoCode, phoneNumber) {
				if(!photoCode) return;
				if(!phoneNumber) return;
				var jsonData = {
					imgCode: photoCode,
					cellphone: phoneNumber,
					type: 1,
				};
				$.ajax({
					type: "POST",
					headers: {
						"clientType": base.dataWithoutToken.clientType,
						"clientVersion": base.dataWithoutToken.clientVersion,
						"sign": base.getPostStrWithoutToken(jsonData),
						"imei": base.dataWithoutToken.timeStamp,
						"timeStamp": base.dataWithoutToken.timeStamp,
					},
					data: jsonData,
					dataType: 'json',
					async: false,
					url: '/api/sms/register',
					success: function(data) {
						if(data.status == 0) {
							Forget.infoComplate = true;
						} else {
							alert(data.msg);
						}
					}
				});
			},

		}
	</script>

</html>