<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>信息披露</title>
		<!--#include virtual="_inc/_inc_import_css.html" -->
		<!--#include virtual="_inc/_inc_import_js.html" -->
	</head>

	<body>
		<!--#include virtual="_inc/_inc_import_header.html" -->

		<!--内容部分-->
		<div class="infoContent">
			<div>
				<div></div>
				<div>
					<p>银行存管</p>
					<p>合规平台</p>
				</div>
				<div>
					<p>全面保障您的资金安全</p>
				</div>
				<div>
					<p>小鸽理财专注优质房产抵押类贷款理财，以互联网为主要渠道，为借款人与出借人实现直接借贷 提供信息搜集、信息公布、资信评估、信息交互、借贷撮合等服务。小鸽积极响应监管要求，率 先开通存管，做合规理财平台，全面保障您的资金安全。
					</p>
				</div>
			</div>

			<div>
				<div>运作机制</div>
				<div>
					<p>小鸽理财专注有房抵押类产品投资，遴选一二线城市高净值抵押资产，所有投资标的全线下面签授理。为确保业务模式安全可持续，小鸽依托核心风控团队和顶级征信平台，每一个标的都经过28道风控流程，具有完善的贷前审核，贷中监控，贷后处置机制。资金流仅通过银行存管系统流转，平台不触碰资金。
					</p>
				</div>
				<div></div>
			</div>

			<div>
				<div>风控体系</div>
				<div>
					<p>基于成熟的风控机制和权威三方征信体系，整体违约率低于万分之8。</p>
				</div>
				<div>
					<div>
						<div>
							<p>多机构多重审核</p>
						</div>
						<div>
							<p>线下授理评估<br />线上调查审核<br />面签取证</p>
						</div>
					</div>
					<div>
						<div>
							<p>权威风控体系保驾</p>
						</div>
						<div>
							<p>信用评级体系<br />阿里+百度反欺诈体系<br />价值评估体系<br />实时预警体系<br />催收体系<br />违约防范处置体系</p>
						</div>
					</div>
					<div>
						<div>
							<p>数据体系</p>
						</div>
						<div>
							<p>违约名单共享<br />大数据建模<br />云计算技术</p>
						</div>
					</div>
				</div>
			</div>

			<div>
				<div>证件资质</div>
				<div>
					<div class="container">
						<div class="pictureSlider poster-main" data-setting='{"width":1000,"height":372,"posterWidth":556,"autoPlay":true,"posterHeight":372,"scale":0.8,"delay":2000,"speed":300}'>
							<div class="poster-btn poster-prev-btn"></div>
							<ul class="poster-list">
								<li class="poster-item">
									<a href="#"><img src="../img/card_1.jpg" width="100%" height="100%"></a>
								</li>
								<li class="poster-item">
									<a href="#"><img src="../img/card_2.png" width="100%" height="100%"></a>
								</li>
								<li class="poster-item">
									<a href="#"><img src="../img/card_3.png" width="100%" height="100%"></a>
								</li>
								<li class="poster-item">
									<a href="#"><img src="../img/card_4.png" width="100%" height="100%"></a>
								</li>
								<li class="poster-item">
									<a href="#"><img src="../img/card_3.png" width="100%" height="100%"></a>
								</li>
							</ul>
							<div class="poster-btn poster-next-btn"></div>
						</div>
					</div>
				</div>
			</div>

			<div>
				<div>组织架构</div>
				<div></div>
			</div>

			<div>
				<div>管理团队</div>
				<div>
					<div>
						<div>
							<div></div>
							<div>资产端副总裁</div>
							<div>周翔</div>
							<div>
								<p>曾任职于中国工商银行深圳分行及永亨银行（中国）总行资产管理部门，担任资产管理业务负责人，具有超过10年资产管理行业经验。在本币/外汇、贵金属、大宗商品、债券及股票等领域有丰富从业经验和深入研究。</p>
								<p>曾管理超过300亿资产，单只产品规模超30亿。服务对象包括华为、富士康、中广核、大鹏液化、招商局等大型企业，所在团队多次获得深圳市金融创新奖项。</p>
							</div>
						</div>
					</div>
					<div>
						<div>
							<div></div>
							<div>总裁</div>
							<div>彭磊</div>
							<div>
								<p>曾任职于中国工商银行深圳市分行机构金融业务部资产托管业务负责人，近10年机构金融、资产托管、养老金、资产管理经验。在券商理财、信托计划、保险资产、公募&私募基金、第三方基金销售平台、互联网金融、政府引导基金、财政专项资金、跨境资金托管方面有丰富从业经验，托管资产规模近万亿；并在证券投资结构化配资、股票质押式回购、资产证券化、定向增发、委外投资等领域有丰富的项目经验，累计经手规模过千亿，其中包括招商银行信贷资产证券化（一期、二期）、招商银行大股东增持、招商蛇口工业区资产证券化、万科事业合伙人计划、中广核集团企业年金等重大项目。</p>
							</div>
						</div>
					</div>
					<div>
						<div>
							<div></div>
							<div>首席风控官</div>
							<div>李坚华</div>
							<div>
								<p>华南师范大学本科毕业，具有10余年丰富金融、信贷的从业、经营管理经验。2007年7月至2015年在中国工商银行金融信贷部门任职，期间累计成功发放个人贷款50亿元。</p>
								<p>从2015年4月起开始担任中国工商银行深圳沙井支行行长助理，2015年、2016年连续两年荣获分行经营十佳网点，2016年注资加入深圳市温馨港湾网络技术有限公司，现任公司首席风控官。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--#include virtual="_inc/_inc_import_footer.html" -->
	</body>
	<!--插件JS-->
	<script src="../js/carousel.js" type="text/javascript" charset="utf-8"></script>
	<script>
		$(function() {
			Information.initFunc();
		});

		var Information = {
			initFunc: function() {
				$('#navBar>li:nth-child(2)').addClass('active');
				Carousel.init($(".pictureSlider"));
			}
		};
	</script>

</html>