<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>落地页</title>
		<!--#include virtual="_inc/_inc_import_css.html" -->
		<!--#include virtual="_inc/_inc_import_js.html" -->
	</head>

	<body>
		<!--落地页头部-->
		<div class="landingPage_header">
			<div>
				<span></span>
				<span>有房抵押，更放心</span>
				<p>房产抵押类理财领导者</p>
			</div>
			<div>
				<p><span></span>
					<font>400-700-4007</font>客服热线</p>
				<p>周一至周日9:00-21:00</p>
			</div>
		</div>

		<!--banner 部分-->
		<div class="landingPage_banner">
			<div>
				<div>
					<div>
						<input type="text" maxlength="11" placeholder="输入11位手机号领取 " />
					</div>
					<div>
						<input type="text" maxlength="6" placeholder="短信验证" />
						<span>获取验证码</span>
					</div>
					<div>
						<input type="password" maxlength="15" placeholder="设置登录密码6-15位 " />
					</div>
					<div>
						<button>注册立领888</button>
					</div>
				</div>
			</div>
		</div>

		<!--iconList 部分-->
		<div class="landingPage_iconList">
			<div>
				<div>
					<p>体系合规</p>
					<p>银行存管</p>
				</div>
			</div>
			<div>
				<div>
					<p>有房抵押</p>
					<p>第三方担保代偿</p>
				</div>
			</div>
			<div>
				<div>
					<p>线下面签</p>
					<p>多重风控审核</p>
				</div>
			</div>
		</div>

		<!--内容 content 部分-->
		<div class="landingPage_content">
			<div>
				<div>新手专享 双重福利</div>
				<div>
					<div>
						<span>限一次</span>
						<span>新手专享图标</span>
						<span>立即投资</span>
						<div>
							<div>
								<p>7天</p>
								<p>封闭期</p>
							</div>
							<div>
								<p>15%</p>
								<p>往期年化</p>
							</div>
							<div>
								<p>100元</p>
								<p>起投</p>
							</div>
						</div>
					</div>
					<div>
						+
					</div>
					<div>
						<span>888</span>
						<span>新手投资红包</span>
					</div>
					<div>
						<span>*投10万元，15天预期可赚287元</span>
						<span>新手投资红包由多张红包组合投资成功即可返现
						</span>
					</div>
				</div>
			</div>

			<div>
				<div>短期高息 灵活多样</div>
				<div>
					<div>
						<span>可加息</span>
						<span>超短期散标</span>
						<span>立即投资</span>
						<span>
							<p>*投10万元，15天预期可赚287元</p>
						</span>
						<div>
							<span>
								<p>7-15天</p>
							    <p>封闭期</p>
							</span>
							<span>
								<p>7%<font>起</font></p>
							    <p>往期年化</p>
							</span>
							<span>
								<p>100元</p>
							    <p>起投</p>
							</span>
						</div>
					</div>
					<div>
						<span>可加息</span>
						<span>标准散标</span>
						<span>立即投资</span>
						<span>
							<p>*先息后本。100元起投</p>
							<p> *投10万元，15天预期可赚287元</p>
						</span>
						<div>
							<span>
								<p>7-15天</p>
							    <p>封闭期</p>
							</span>
							<span>
								<p>7%<font>起</font></p>
							    <p>往期年化</p>
							</span>
							<span>
								<p>100元</p>
							    <p>起投</p>
							</span>
						</div>
					</div>
				</div>

				<div>定期产品 升息赠礼</div>
				<div>
					<div>
						<span>定期1个月</span>
						<span>可加息</span>
						<span>立即投资</span>
						<span>
							<p>*一次性还本付息，100元起投</p>
							<p>*投10万元，30天预期可赚666元</p>
						</span>
						<div>
							<span>
								<p>1个月</p>
								<p>封闭期</p>
							</span>
							<span>
								<p>8%<font>起</font></p>
								<p>往期年化</p>
							</span>
							<span>
								<p>100元</p>
								<p>起投</p>
							</span>
						</div>
					</div>
					<div>
						<span>定期3-6个月</span>
						<span>可加息</span>
						<span>立即投资</span>
						<span>
							<p>*一次性还本付息，100元起投</p>
							<p>*投10万元，30天预期可赚666元</p>
						</span>
						<div>
							<span>
								<p>3-6个月</p>
								<p>封闭期</p>
							</span>
							<span>
								<p>9%<font>起</font></p>
								<p>往期年化</p>
							</span>
							<span>
								<p>100元</p>
								<p>起投</p>
							</span>
						</div>
					</div>
					<div>
						<span>定期12个月</span>
						<span>可加息</span>
						<span>立即投资</span>
						<span>
							<p>*一次性还本付息，100元起投</p>
							<p>*投10万元，30天预期可赚666元</p>
						</span>
						<div>
							<span>
								<p>12个月</p>
								<p>封闭期</p>
							</span>
							<span>
								<p>12%<font>起</font></p>
								<p>往期年化</p>
							</span>
							<span>
								<p>100元</p>
								<p>起投</p>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="landingPage_content2">
			<div></div>
			<div>我们的优势</div>
			<div>
				<div>
					<div></div>
					<div>
						<p>银行存管</p>
						<p>合规安全，您放心</p>
					</div>
					<div>
						<p>开通银行存管，全程资金安全</p>
						<p>等保三级备案</p>
						<p>icp经营许可证</p>
					</div>
				</div>
				<div>
					<div></div>
					<div>
						<p>房抵押</p>
						<p>房产抵押，更安全</p>
					</div>
					<div>
						<p>面签协议+公正，在线电子合同凭证</p>
						<p>有银行应收贷款质押</p>
						<p>第三方机构投资标担保+代偿</p>
					</div>
				</div>
				<div>
					<div></div>
					<div>
						<p>28道流程</p>
						<p>严格风控，实时系统</p>
					</div>
					<div>
						<p>SOP标准化作业，全系统实时监控</p>
						<p>国有银行资历风控团队，10年行业经验</p>
						<p>28道流程把关，严丝不漏</p>
						<p>成熟业务体系，不良率低于1‰</p>
					</div>
				</div>
			</div>
		</div>

		<div class="landingPage_content3">
			<div></div>
			<div>关于小鸽</div>
			<div>
				<p>小鸽理财是房产抵押类理财平台领导者，有三方金融机构担保，总部位于深圳高科技中心-南山区。小鸽理财融 合“互联网+金融+房产”，以规范，安全，透明，诚信为经营准则，一二线城市优质实物房产抵押作为标的，采 取贷前多重风控审核，择优选择标的放标，贷中、贷后系统运维+人工复核管控，交易明细实时可查询，为投资者 提供超低风险，优于市场收益水平的专属理财产品，实物抵押有保证，灵活理财拿高息。
				</p>
				<p>小鸽理财立足线上线下业务机制+技术平台相结合的形式，为用户提供高效安全的互联网金融投资理财服务！</p>
			</div>
			<div>
				<div><img src="../img/photo1.png" /></div>
				<div><img src="../img/photo2.png" /></div>
				<div><img src="../img/photo3.png" /></div>
			</div>
		</div>

		<div class="landingPage_content4">
			<div></div>
			<div>
				<p>合作伙伴</p>
			</div>
			<div></div>
		</div>

		<!--#include virtual="_inc/_inc_import_footer.html" -->
	</body>

</html>