<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>法律法规</title>
		<!--#include virtual="_inc/_inc_import_css.html" -->
		<!--#include virtual="_inc/_inc_import_js.html" -->
	</head>

	<body>
		<!--#include virtual="_inc/_inc_import_header.html" -->

		<!--banner部分-->
		<div class="lawsPage_banner">
			<div>
				<span>小鸽理财</span>
				<span>德恒律师事务所</span>
			</div>
			<div>共建投资安全壁垒</div>
		</div>

		<!--content部分-->
		<div class="lawsPage_content1">
			<div>
				<p>投资行为保障</p>
				<p>保障投资人在小鸽理财平台操作的合法性、 合规性。</p>
			</div>
			<div>
				<p>风控监管支持</p>
				<p>监督审核小鸽理财对平台所有项目的风控审查工作。</p>
			</div>
			<div>
				<p>合同权益保障</p>
				<p>审核小鸽理财主营业务合同及平台制度，专业 角度制定充分保护投资人权益的合同条款。</p>
			</div>
			<div>
				<p>法律援助</p>
				<p>当投资项目发生争议须通过法律程序解决时，为平台和投资人提供一流法律援助服务，确保投资人利益得到充分保障。</p>
			</div>
		</div>

		<div class="lawsPage_content2">
			<div>
				<p>北京德恒律师事务所是中国规模最大的综合性律师事务所之一。于1993年1月创建于北京，原名中国律师事务中心，1995年更名为德恒律师事务所。</p>
				<p>自创始之日起，德恒就恪守勤勉尽责、竭诚服务、追求公正的宗旨，致力于为客户提供优质、高效的法律服务，经过近二十年辛勤耕耘，获得中外社会各界的高度赞誉，现已形成遍布中国和世界主要城市的服务网络和客户群。自2007年起，德恒一直排名全国律所前三强（据ALB排名）。稳居国内法律服务机构的第一梯队。</p>
			</div>
		</div>

		<div class="lawsPage_content3">
			<div>法律法规</div>
			<div>
				<div>
					<p><span>01</span>借贷关系合法性</p>
					<p>投资人与借款人借贷关系的合法性，根据《合同法》第一百九十六条：“借款合同是借款人向贷款人借款，到期返还借款并支付利息的合同。”及最高人民法院《关于人民法院审理借贷案件的若干意见》第1条：“公民之间的借贷纠纷，公民与法人之间的借贷纠纷以及公民与其他组织之间的借贷纠纷，应作为借贷案件受理。“ 我国法律肯定投资人与借款人借贷关系的合法性，并保护投资人收回借贷本金和符合法律规定利息的权利。</p>
				</div>
				<div>
					<p><span>02</span>利息收益合法性</p>
					<p>投资人获得利息收益的合法性，根据最高人民法院《关于人民法院审理借贷案件的若干意见》第6条：“民间借贷的利率可以适当高于银行的利率，各地人民法院可根据本地区的实际情况具体掌握，但最高不得超过银行同类贷款利率的四倍（包含利率本数）。超出此限度的，超出部分的利息不予保护“。 投资人在小鸽理财向借款人出借资金并按照约定年化收益率收取利息收益，该年化收益率并未超过银行同类贷款利率的四倍，受到法律保护。</p>
				</div>
				<div>
					<p><span>03</span>居间撮合服务合法性</p>
					<p>小鸽理财提供居间撮合服务的合法性，根据《合同法》第四百二十四条：“居间合同是居间人向委托人报告订立合同的机会或者提供订立合同的媒介服务，委托人支付报酬的合同。”及第四百二十六条：“居间人促成合同成立的，委托人应当按照约定支付报酬。” 小鸽理财为投资人与借款人提供订立借款合同的居间撮合服务并收取相应报酬是符合法律规定并受法律保护的。</p>
				</div>
			</div>
		</div>

		<div class="lawsPage_content4">
			<div>电子合同合法性</div>
			<div>
				<div>
					<img src="../img/lawsProtocol1.png" />
					<span>定存宝投资协议样本</span>
				</div>
				<div>
					<img src="../img/lawsProtocol2.png" />
					<span>借款协议样本</span>
				</div>
				<div>
					<img src="../img/lawsProtocol3.png" />
					<span>债权换让协议样本</span>
				</div>
			</div>
			<div>
				<p>根据《电子签名法》第三条：“民事活动中的合同或者其他文件、单证等文书，当事人可以约定使用电子签名、数据电文。当事人 约定使用电子签名、数据电文的文书，不得仅因为其采用电子签名、数据电文的形式而否定其法律效力。”及第十四条：“可靠的 电子签名与手写签名或者盖章具有同等的法律效力。” 投资人在小鸽理财平台签署电子合同并采取电子签名，符合相关电子合同及 电子签名的法律规定，法律确认其合法有效性。
				</p>
			</div>
		</div>
		<!--#include virtual="_inc/_inc_import_footer.html" -->
	</body>

</html>