<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>法律法规</title>
    <!--#include virtual="_inc/_inc_import_css.html" -->
    <!--#include virtual="_inc/_inc_import_js.html" -->
</head>

<body>
    <!--#include virtual="_inc/_inc_import_header.html" -->
    <!--内容部分-->
    <div class="inf-dis">
        <div class="content">
            <div class="left-box laws">
            	<div class="head-title">
                    <h2>法律法规</h2>
                </div>
                <div class="center-piece">
                	<div class="partment">
                        <div class="left-text">
                            <h5>关于在小鸽理财平台上网络借贷关系的合法性</h5>
                            <p>1.《中华人民共和国合同法》第196条规定“借款合同是借款人向贷款人借款，......</p>
                        </div>
                        <div class="right-img">
                            <img src="../img/laws_page_1.jpg">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="partment">
                        <div class="left-text">
                            <h5>关于小鸽理财平台提供居间撮合服务的合法性</h5>
                            <p>《合同法》第23章关于“居间合同”的规定，特别是第424条规定的“居间合同......</p>
                        </div>
                        <div class="right-img">
                            <img src="../img/laws_page_2.jpg">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="partment">
                        <div class="left-text">
                            <h5>关于电子合同的合法性和可执行性</h5>
                            <p>1.《合同法》第10条规定：“当事人订立合同，有书面形式、口头形式和其他形......</p>
                        </div>
                        <div class="right-img">
                            <img src="../img/laws_page_3.jpg">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="partment">
                        <div class="left-text">
                            <h5>关于出借人通过小鸽理财平台获得的出借理财收益的合法性</h5>
                            <p>1.《最高人民法院关于审理民间借贷案件适用法律若干问题的规定》第1条 规定......</p>
                        </div>
                        <div class="right-img">
                            <img src="../img/laws_page_4.jpg">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="center-piece footer-piece">
                	<div class="piece">
                        <h4>合同范本</h4>
                        <a href="platformProtocol_investment.html" target="_blank">G自动服务服务协议</a><a href="platformProtocol_loan.html" target="_blank">借款协议</a><a href="platformProtocol_transfer.html" target="_blank">债权转让协议</a>
                    </div>
                </div>
                <div id="bomb">
                    <div class="block"></div>
                    <div class="window">
                        <div class="close">
                            <img src="../img/supervision_colse.png">
                        </div>
                        <div class="title">
                            <p>关于在小鸽理财平台上网络借贷关系的合法性</p>
                            <p>关于小鸽理财平台提供居间撮合服务的合法性</p>
                            <p>关于电子合同的合法性和可执行性</p>
                            <p>关于出借人通过小鸽理财平台获得的出借理财收益的合法性</p>
                        </div>
                        <div class="text">
                            <div class="text-box">
                                <p>1.《中华人民共和国合同法》第196条规定“借款合同是借款人向贷款人借款，到期返还借款并支付利息的合同”，允许普通民事主体之间发生借贷关系，并认定借款人还本付息的合理性。<br>2. 小鸽理财平台上的网络借贷关系在借款的渠道和方式上进行了创新，出借人与借款人的借贷行为原则上属于民事主体之间的借贷，因此符合《合同法》的相关规定，受到法律保护。<br>3.《网络借贷信息中介机构管理暂行办法》第2条规定：本办法所称网络借贷是指个体和个体之间通过互联网平台实现的直接借贷。个体包含自然人、法人及其他组织。网络借贷信息中介机构是指依法设立，专门从事网络借贷信息中介业务活动的金融信息中介公司。该类机构以互联网为主要渠道，为借款人与出借人（即贷款人）实现直接借贷提供信息搜集、信息公布、资信评估、信息交互、借贷撮合等服务。</p>
                            </div>
                            <div class="text-box">
                                <p>《合同法》第23章关于“居间合同”的规定，特别是第424条规定的“居间合同是居间人向委托人报告订立合同的机会或者提供订立合同的媒介服务，委托人支付报酬的合同”。小鸽理财平台作为合法设立的中介服务机构，为民间借贷提供撮合，使借贷双方形成借贷关系并收取相关报酬的居间服务有着明确的法律基础。</p>
                            </div>
                            <div class="text-box">
                                <p>1.《合同法》第10条规定：“当事人订立合同，有书面形式、口头形式和其他形式。”<br>2.《合同法》第11条规定：“书面形式是指合同书、信件和数据电文（包括电报、电传、传真、电子数据交换和电子邮件）等可以有形地表现所载内容的形式。”<br>3.《中华人民共和国电子签名法》第3条规定：“民事活动中的合同或者其他文件、单证等文书，当事人可以约定使用或者不使用电子签名、数据电文。”“当事人约定使用电子签名、数据电文的文书，不得仅因为其采用电子签名、数据电文的形式而否定其法律效力。”因此，电子合同与纸质合同具有同等的法律效力。</p>
                            </div>
                            <div class="text-box">
                                <p>1.《最高人民法院关于审理民间借贷案件适用法律若干问题的规定》第1条 规定：本规定所称的民间借贷，是指自然人、法人、其他组织之间及其相互之间进行资金融通的行为。<br>2.《合同法》第211条规定：“自然人之间的借款合同约定支付利息的，借款的利率不得违反国家有关限制借款利率的规定”。<br>3.根据《最高人民法院关于人民法院审理借贷案件的若干意见》第6条规定：“民间借贷的利率可以适当高于银行的利率，各地人民法院可以根据本地区的实际情况具体掌握，但最高不得超过银行同类贷款利率的四倍，（包含利率本款）。超出此限度的，超出部分的利息不予保护。”当期人民银行一年期基准贷款利率为6.00%，则当期基准贷款利率的四倍为24.00%，小鸽理财的出借理财收益未超过24%，为合法利息收益，受到法律保护。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 侧边栏 -->
            <!--#include virtual="_inc/_inc_import_right_box.html" -->
            <div style="clear: both;"></div>
        </div>
    </div>
    <!--#include virtual="_inc/_inc_import_footer.html" -->
    <script type="text/javascript">
    $(function() {

    	// 侧边栏页面指定
        $(".right-box ul li").eq(11).addClass('active')

        $(".arch .arch-out").on('mouseenter', function() {
            $(this).children(".wind").addClass('show')
        })
        $(".arch .arch-out").on('mouseleave', function() {
            $(this).children(".wind").removeClass('show')
        })

        $(".laws .partment").on('mouseenter', function() {
            $(this).addClass('hover')
        })
        $(".laws .partment").on('mouseleave', function() {
            $(this).removeClass('hover')
        })

        var clos = $("#clos")
        var bomb = $("#bomb")
        var block = $("#bomb .block")
        var win = $("#bomb .window")
        var titleN = $("#bomb .window .title p")
        var textN = $("#bomb .window .text .text-box")

        // 弹窗开
        var bombShow = function(index) {
            bomb.addClass("show")
            block.addClass("show")
            win.addClass("show")
            titleN.eq(index).addClass("show")
            textN.eq(index).addClass("show")
            win.height(textN.eq(index).height() + 199)
        }

        //弹窗关
        var bombClose = function(index) {
            block.addClass("clos")
            win.addClass("clos")
            setTimeout(function() {
                bomb.removeClass("show")
                block.removeClass("show clos")
                win.removeClass("show clos")
                titleN.eq(index).removeClass("show")
                textN.eq(index).removeClass("show")
            }, 200)
        }

        var partN
        // 弹窗绑定
        $(".inf-dis .laws .partment").on('click', function(event) {
            partN = $(".inf-dis .laws .partment").index(this)
            bombShow(partN)
        })
        
        $("#bomb .window .close").on('click', function() {
            bombClose(partN)
        });
    })
    </script>
</body>

</html>