<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新手引导</title>
		<!--#include virtual="_inc/_inc_import_css.html" -->
		<!--#include virtual="_inc/_inc_import_js.html" -->
	</head>

	<body>
		<!--#include virtual="_inc/_inc_import_header.html" -->

		<div class="newPeopleContent">
			<div>
				<!--swiper插件-->
				<div class="swiper-container">
					<div class="swiper-wrapper newGuide">
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
						<div class="swiper-slide"></div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<div>
				<div>关于小鸽理财</div>
				<div></div>
				<div>
					<p>深圳市温馨港湾网络技术有限公司（以下简称我司）成立于2013年12月，注册资本5000万元，是一家专注于为有资产的优质客户提供抵押或信用贷款的网络借贷信息中介服务平台，总部位于深圳市南山区。我司融合“互联网+金融”,一直以来秉持规范、安全、透明、诚信的经营准则，为用户提供T+1高效安全的互联网投融资信息中介服务。</p>
				</div>
				<div></div>
				<div></div>
				<div>
					<p>
						高达15%的往期年化收益，银行存管，合规安全，安全投资就是如此简单！
					</p>
				</div>
				<div>
					<div>
						<span>超短期7天，高达15%</span>
					</div>
					<div>
						<span>精彩活动，奖励送不停</span>
					</div>
					<div>
						<span>每日上新，每周爆款</span>
					</div>
				</div>
				
				<div>
					<span onclick="Web.go('index_register.html')">注册立领888元红包</span>
				</div>
				
				<div>投资开户，几分钟搞定</div>
				
				<div></div>
				
				<div>
					<span>更多APP投资详情</span>
				</div>
			</div>
		</div>
		
		<!--#include virtual="_inc/_inc_import_footer.html" -->
	</body>
	<script>
		var mySwiper = new Swiper('.swiper-container', {
			autoplay: 5000, //可选选项，自动滑动
			pagination : '.swiper-pagination',
		});
	</script>

</html>