<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>平台协议列表</title>
		<!--#include virtual="_inc/_inc_import_css.html" -->
		<!--#include virtual="_inc/_inc_import_js.html" -->
	</head>

	<body>
		<!--#include virtual="_inc/_inc_import_header.html" -->
		
		<!--这里是内容部分-->
		<div class="protocolListContent">
			<div>
				<div></div>
				<div>
					<p>小鸽理财相关协议列表</p>
					<p><a href="platformProtocol_loan.html">小鸽理财借款协议&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-------------------------------------------------------------------------------&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1</a></p>
					<p><a href="platformProtocol_investment.html">小鸽理财G自动服务服务协议&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------------------------------------------------------------------------&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2</a></p>
					<p><a href="platformProtocol_transfer.html">小鸽理财债权转让协议&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-------------------------------------------------------------------------------&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3</a></p>
				</div>
			</div>
		</div>
		
		<!--#include virtual="_inc/_inc_import_footer.html" -->
	</body>

</html>