<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>安全保障</title>
		<!--#include virtual="_inc/_inc_import_css.html" -->
		<!--#include virtual="_inc/_inc_import_js.html" -->
	</head>

	<body>
		<!--#include virtual="_inc/_inc_import_header.html" -->

		<!--这里是内容部分-->
		<div class="safeContent">
			<div>
				<div>您的安全就是我们的安全！</div>
				<div>
					<p>小鸽理财实现
						<font>业务模式，风控体系，技术规范</font> 三大板块安全保障</p>
				</div>
				<div>
					<div>
						<p>实体经营</p>
					</div>
					<div>
						<p>阿里金融云</p>
					</div>
					<div>
						<p>风控体系</p>
					</div>
				</div>
			</div>
			<div>
				<div>业务安全</div>
				<div>
					<div>
						<div>第三方机构</div>
						<div>
							<p>
								引入经过严格审核的第三方机构 (业务0坏账)提供的房产抵押投资 标的，多重风控流程，第三方机构 及其股东承诺由其承担代偿责任， 所有相关标的均提供双重保障。
							</p>
						</div>
						<span></span>
					</div>
					<div>
						<div>实体机构驻点</div>
						<div>
							<p>
								与第三方机构建立深度合作关 系，线下实体网点专人驻场授理。
							</p>
						</div>
						<span></span>
					</div>
					<div>
						<div>借款人资质审核</div>
						<div>
							<p>
								借款人征信良好，房产抵押物 实地调查，线上复核，确定标的 资产状态良好。
							</p>
						</div>
						<span></span>
					</div>
					<div>
						<div>借款协议面签</div>
						<div>
							<p>
								单笔业务多重审核通过后，小鸽 邀约实际借款人面签协议并取证。
							</p>
						</div>
						<span></span>
					</div>
					<div>
						<div>系统化流程管理</div>
						<div>
							<p>
								小鸽理财拥有独立成熟的金融业务 系统，实现全流程实时跟踪管控和 风险预警处置机制,业务流程与资质 凭证同步，小额分散机制，整体稳 健可靠高效。
							</p>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div>风控体系</div>
				<div>
					<p>小鸽理财使用百度人脸识别技术，“穿透”借贷一一对应，10年资深国有大银行系风控团队把关，央行及8大征信机构验核体系，第三方机构担保和代偿协议，多重交叉审核确保标的资产安全可控。
					</p>
				</div>
				<div></div>
			</div>

			<div>
				<div>
					<p>
						<font>·</font> 国有大银行系
						<font>风控团队</font>
						<font>·</font>
					</p>
				</div>
				<div>
					<div>
						<p>机构管理组</p>
						<p>对申请合作的第三方机构进行实力评估，动态管理，定期统计分析。要求合作方通过系统对接，对每一笔业务穿透，可以实时查询到每一笔业务的进展。目前个人债务置换贷款的不良率为万分之八。
						</p>
					</div>
					<div>
						<p>合规审计组</p>
						<p>不对期对合作资产端机构运营情况、每一笔业务进行抽查、检查、审计、监督。
						</p>
					</div>
					<div>
						<p>风险审批组</p>
						<p>对合作机构的标的进行二次风控审核，对接借款人房产抵押状态、原来借贷、应收银行贷款质押情况、信用记录进行审核， 确保风险可控。主要把控原金融机构借款的真实性、客户信用、银行应付贷款情况。
						</p>
					</div>
					<div>
						<p>风险模型策略组</p>
						<p>对整体宏观风险情况研究，了解地区信用风险，把控行业风险情况，制定不同时期的风险策略，为风险委员会提供决策支持。
						</p>
					</div>
					<div>
						<p>风险决策委员会</p>
						<p>首席风险官牵头总裁、资产端负责人、审批部负责人、法律负责人每季度召开风险会议，决定下一阶段公司风险策略。
						</p>
					</div>
				</div>
			</div>

			<div>
				<div>
					<font>·</font> 权威征信机构
					<font>验核体系</font>
					<font>·</font>
				</div>
				<div>
					<p>必须可以提供穿透资产的系统对接；</p>
					<p>必须使用人脸识别技术或者短信鉴权技术，能从技术层面穿透到个人借款客户；</p>
					<p>借款申请人必须在100万人口以上城市有房，并且在银行有良好的借贷记录；</p>
					<p>合作机构注册资金在1亿以上（含），历史业务规模不低于20亿，不良率低于1%，有 担保赔付能力。
					</p>
				</div>
			</div>

			<div>
				<div>技术安全</div>
				<div>
					<p>等保三级备案</p>
				</div>
				<div>
					<p>2016年8月《网络借贷信息中介机构业务活动管理暂行办法》规定，网络借贷信息中介机构 应按照国家网络安全相关规定和国家信息安全等级保护制度的要求，开展信息系统定级备案和等级测试，保护出借人与借款人的信息安全。
					</p>
					<p> 该认证主要依据《计算机信息系统安全保护等级划分准则》、《信息安全技术信息安全等级 保护基本要求》第三级要求以及用户安全需求，从技术要求、管理要求提出了包含物理安全、网 络安全、主机安全、应用安全、数据安全及备份恢复、系统建设管理、系统安全管理等多方面的 安全评测等在内的近300项要求，共涉及测评分类73类。
					</p>
					<p>据统计，截止到2017年4月14日，目前全国正常运营的网贷平台数量达2281家，通过信息系 统安全等保三级测评的网贷平台仅占全国总量的3.42%。
					</p>
				</div>
				<div>
					<img src="../img/card_1.jpg" alt="" />
				</div>
				<div>
					<p>阿里云金融</p>
				</div>
				<div>
					<p>
						系统化实现全业务链把控，自建业务管控平台和数据中心，并依托阿里云安全体系，构建 坚实技术支撑平台。
					</p>
				</div>
			</div>

			<div>
				<div>
					<font>·</font> 阿里云纵深金融
					<font>安全体系</font>
					<font>·</font>
				</div>
				<div></div>
			</div>

			<div>
				<div>
					<font>·</font> 合规方案
					<font>·</font>
				</div>
				<div>
					<div>
						<div>安全方案</div>
						<div>
							<p>
								政策解读：开展信息系统顶级备案和 等级测试，具有完善的防火墙、入侵检 测、数据加密以及灾难恢复等网络安全 设施和管理制度。
							</p>
						</div>
						<div>
							<p>基础资源安全</p>
							<p>系统安全体系</p>
						</div>
<!--						<div>查看详情</div>-->
					</div>
					<div>
						<div>容灾方案</div>
						<div>
							<p>
								政策解读：网络借贷信息中介结构成立 两年内，应当建立或使用与其业务规模 相匹配的应用级灾备系统设施。
							</p>
						</div>
						<div>
							<p>同城容灾</p>
							<p>异地容灾</p>
						</div>
						<div></div>
<!--						<div>查看详情</div>-->
						<div>保证业务连续性</div>
					</div>
					<div>
						<div>数据留存</div>
						<div>
							<p>
								政策解读：网络借贷信息中介机构应当 记录并留存借贷双方上网日志信息，信息交互内容等数据，留存期限为5年。
							</p>
						</div>
						<div>
							<p>日志留存、数据留存</p>
							<p>电子合同留存</p>
						</div>
<!--						<div>联系我们</div>-->
					</div>
					<div>
						<div>电子签名</div>
						<div>
							<p>
								政策解读：需要对出借人与借款人的基 本信息和交易信息等使用电子签名、电 子认证，保障数据的真实性完整性及电 子签名的法律效应。
							</p>
						</div>
						<div>
							<p>e签宝 CFCA机构颁发证书制作</p>
							<p>安全性高 可司法落地</p>
						</div>
<!--						<div>联系我们</div>-->
					</div>
				</div>
			</div>
		</div>

		<!--#include virtual="_inc/_inc_import_footer.html" -->
	</body>

</html>