a {
  color: #000;
  text-decoration: none;
}

.clear {
  clear: both;
  width: 100%;
  height: 1px;
}

.main-box {
  width: 100%;
  background: #fff;
  margin-top: 12px;
}

.tit {
  width: 90%;
  position: relative;
  margin: 0 auto;
  min-height: 30px;
  margin-top: 10px;
}

.tit span.ask {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url(/static/img/ask.png) no-repeat center center;
  background-size: 22px;
}

.tit p {
  margin-left: 33px;
  line-height: 28px;
  color: #4c4c4c;
  font-size: 15px;
}

.answer {
  width: 86%;
  margin: 0 auto;
  line-height: 22px;
  color: #909090;
  text-align: justify;
  font-size: 14px;
  padding: 7px 0 15px 0;
}
