.clear:after {
  content: "";
  display: block;
  clear: both;
}

.no-b-b {
  border-bottom: none!important;
}

.about-xg {
  background: #f2f2f2;padding-top:50px;
}

.about-xg .top-table {
  background: #fff;
  border-bottom: 1px solid #ede9e9;
  margin-bottom: 6px;font-size:15px;
  position:fixed;width:100%;top:0;left:0;background:#fff;z-index:1000;
}

.about-xg .top-table a {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  line-height: 42px;
  color: #333;
  text-align: center;
  position: relative;
}

.about-xg .top-table .active a {
  color: #ff5637;
}

.about-xg .top-table .active a:after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #ff5637;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.about-xg .module-title {
  padding-top: 10px;
}

.about-xg .module-title h5 {
  font-size: 15px;
  line-height: 40px;
  color: #333;
  text-align: center;
  font-weight: normal;
  position: relative;
}

.about-xg .module-title h5:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  background: #d5d8de;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.about-xg .company-int,
.about-xg .certificate,
.about-xg .surrounding,
.about-xg .executive,
.about-xg .advantage,
.about-xg .contact-us {
  background: #fff;
  margin-bottom: 7px;
  padding-left: 4%;
  padding-right: 4%;
}

.about-xg .company-int .company-info {
  padding-top: 27px;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #ede9e9;
}

.about-xg .company-int .company-info .img-icon img {
  display: block;
  width: 21.7%;
  margin: 0 auto 6px;
}

.about-xg .company-int .company-info .cen-text p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
}

.about-xg .company-int .company-info .foo-text p {
  font-size: 12px;
  line-height: 21px;
  color: #aaa;
}

.about-xg .company-int .info-text {
  padding-top: 12px;
  padding-bottom: 34px;
}

.about-xg .company-int .info-text p {
  font-size: 14px;
  line-height: 26px;
  color: #404451;
}

.about-xg .click-tips p {
  font-size: 14px;
  line-height: 20px;
  color: #ccc;
  text-align: center;
  padding-bottom:18px;
}

.about-xg .executive .executive-module {
  padding-top: 26px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ede9e9;
}

.about-xg .executive .executive-module .left-img {
  float: left;
  box-sizing: border-box;
  width: 28.4%;
  padding-left: 1.4%;
}

.about-xg .executive .executive-module .left-img img {
  display: block;
  width: 100%;
}

.about-xg .executive .executive-module .right-text {
  float: right;
  box-sizing: border-box;
  width: 71.6%;
  padding-left: 6%;
}

.about-xg .executive .executive-module .right-text p.name {
  font-size: 15px;
  line-height: 20px;
  color: #000;
}

.about-xg .executive .executive-module .right-text p.office {
  font-size: 12px;
  line-height: 23px;
  color: #333;
  padding-bottom: 6px;
}

.about-xg .executive .executive-module .right-text p.bewrite {
  font-size: 12px;
  line-height: 21px;
  color: #666;
}

.about-xg .advantage .img-icon {
  width: 75px;
  height: 75px;
  margin: auto;
  box-shadow: 0 0 7px rgba(153, 153, 153, .2);
  border-radius: 50%;
  position: relative;
}

.about-xg .advantage .img-icon img {
  display: block;
  width: 48.4%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-xg .advantage .caption {
  padding-bottom: 18px;
}

.about-xg .advantage .caption p {
  font-size: 12px;
  line-height: 43px;
  color: #404451;
  text-align: center;
}

.about-xg .contact-us .contact-line {
  padding-top: 23px;
  padding-bottom: 38px;
}

.about-xg .contact-us .contact-line p {
  font-size: 14px;
  line-height: 18px;
  color: #404451;
  padding-bottom: 10px;
}

.about-xg .contact-us .contact-line p span.line-header {
  display: inline-block;
  width: 33%;
  padding-right: 3%;
  vertical-align: top;
}

.about-xg .contact-us .contact-line p span.line-content {
  display: inline-block;
  width: 64%;
  vertical-align: top;
}
.swiper{
    text-align:center;font-size:14px;padding-top:15px;
    width:7.5rem;position:relative;left:-4%;
}
.swiper dt{
    text-align:center;display:flex;align-items:center;margin-bottom:12px;box-shadow:0 0 8px rgba(153,153,153,.2);width:210px;
}
.swiper1 dl dt{
    height:140px;overflow:hidden;
}
.swiper1 .swiper-container .swiper-wrapper .swiper-slide{ width: 210px;}
.swiper dl dd{padding-left:0;margin-left:0;line-height:1.8;}
.swiper2 .swiper-container .swiper-wrapper .swiper-slide{
    width:210px;
    text-align:center;
}

.swiper2 dt img{width:100%;}
