.in-padding {
  padding: 0 2.7%;
}

.login {
  background: #fff;
}

.login .top {
  padding-top: 18px;
}

.login .top a {
  display: inline-block;
  padding: 0 4.9%;
  margin-right: 7%;
  font-size: 18px;
  line-height: 38px;
  color: #545454;
  border-bottom: 2px solid #fff;
}

.login .top a.active {
  color: #ff5637;
  border-bottom: 2px solid #ff5637;
}

.login .content {
  padding-top: 22px;
  padding-bottom: 20%;
}

.login .content .input-line {
  position: relative;
}

.login .content .input-line img.icon {
  margin-left: 4.7%;
  margin-right: 3%;
  width: 5.7%;
  height: auto;
  position: relative;
  top: 5px;
}

.login .content .input-line .input {
  display: inline-block;
  width: 81.5%;
}

.login .content .input-line input {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  padding: 0;
  width: 100%;
  border: none;
  height: 60px;
  line-height: 18px;
  font-size: 14px;
  outline: none;
  padding-left: 8.1%;
  padding-right: 8.1%;
}

.login .content .input-line img.clos {
  width: 18px;
  height: 18px;
  padding: 10px;
  position: absolute;
  right: 2%;
  top: 10px;
}

.login .content .input-line img.show {
  width: 25px;
  height: 20px;
  padding: 10px;
  position: absolute;
  right: 2%;
  top: 10px;
}

.login .content .forget-line {
  padding-top: 20px;
}

.login .content .forget-line a {
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  color: #ff5637;
  float: right;
  margin-right: 18px;
}

.login .content .btn-line {
  padding-top: 21px;
}

.login .content .btn-line button {
  display: block;
  width: 91.5%;
  height: 44px;
  font-size: 16px;
  color: #fff;
  border: none;
  margin: 0 auto;
  background: #ff5637;
  box-shadow: 0 0 10px rgba(255, 86, 55, 0.5);
  border-radius: 22px;
}

.login .bg {
  width: 100%;
  height: 53px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}