.back-card {
  background: #fff;
  height: 100%;
}

.back-card .center-card {
  padding: 20px 4% 20px;
  background: #fff;
}

.back-card .center-card .card-bg {
  padding-top: 21px;
  padding-left: 5.8%;
  padding-bottom: 9px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(254, 88, 56, 0.35);
  background: linear-gradient(to right, #fe775a, #fe5737);
}

.back-card .center-card .bank-logo-name {
  font-size: 17px;
  line-height: 20px;
  color: #fff;
}

.back-card .center-card .bank-logo-name img {
  float: left;
  height: 37px;
  margin-right: 4.1%;
  border-radius: 50%;
}

.back-card .center-card .bank-logo-name span {
  display: block;
  font-size: 29px;
  line-height: 29px;
  padding-left: 13px;
}

.back-card .center-card .bank-logo-name span.card-mosaic {
  display: inline;
  font-size: 14px;
  padding-right: 7.1%;
  padding-left: 0;
}

.back-card .center-card .limit {
  font-size: 14px;
  line-height: 27px;
  color: #fff;
  float: right;
  padding-right: 4.4%;
  padding-top: 26px;
}

.back-card .tab-line {
  display: block;
  background: #fff;
  padding-left: 4%;
}

.back-card .tab-line .border-box {
  padding-right: 4%;
}

.back-card .tab-line .border-box .left {
  float: left;
}

.back-card .tab-line .border-box .left span {
  font-size: 16px;
  color: #333;
  line-height: 48px;
}

.back-card .tab-line .border-box .right {
  float: right;
  height: 48px;
  position: relative;
}

.back-card .tab-line .border-box .right span {
  font-size: 15px;
  line-height: 48px;
  color: #999;
}

.back-card .tab-line .border-box .right a {
  font-size: 15px;
  line-height: 48px;
  color: #999;
  padding-right: 17.5px;
}

.back-card .tab-line .border-box .right img {
  display: block;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.back-card .bank-list {
  height: 32px;
  padding-right: 4%;
  padding-top: 20px;
}

.back-card .bank-list a {
  font-size: 12px;
  line-height: 32px;
  color: #fd8923;
  float: right;
}

.back-card .btn-line {
  padding-top: 20px;
}

.back-card .btn-line button {
  display: block;
  width: 91.5%;
  height: 44px;
  font-size: 16px;
  color: #fff;
  border: none;
  margin: 0 auto;
  background: linear-gradient(to right, #fd794b, #ff5637);
  border-radius: 22px;
}

.back-card .hint {
  padding-left: 6.6%;
  padding-right: 6.6%;
  padding-top: 16px;
}

.back-card .hint p {
  font-size: 12px;
  line-height: 18px;
  color: #909197;
}

.back-card .hint p a {
  color: #ff9c1c;
}

.back-card .bg {
  width: 100%;
  height: 53px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
