.form {
  position: relative;
}

.form .in-padding {
  padding-left: 4%;
  padding-right: 4%;
}

.form .top-title {
  font-size: 12px;
  line-height: 35px;
  background: #ffebe7;
  color: #ae6262;
}

.form .input-bg {
  background: #fff;
}

.form .in-border {
  border-bottom: 1px solid #e6e6e6;
}

.form .reg-input span {
  float: left;
  font-size: 14px;
  line-height: 44px;
  color: #333;
  width: 20%;
}

.form .in-border:after {
  content: "";
  display: block;
  clear: both;
}

.form .no-border {
  border-bottom: none;
}

.form .reg-input input {
  float: right;
  padding: 0;
  width: 79%;
  border: none;
  height: 44px;
  line-height: 18px;
  font-family: "Microsoft Yahei";
  font-size: 14px;
  outline: none;
}

.form .text-out {
  position: relative;
  height: 35px;
}

.form .center-title {
  font-size: 12px;
  line-height: 35px;
  color: #fd8923;
  position: absolute;
  top: 0;
  left: -2.1%;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: scale(0.8, 0.8);
  white-space: nowrap;
}

.form .center-title:before {
  content: "";
  width: 13px;
  height: 13px;
  background: url(/static/img/loan_reg.png) no-repeat center;
  background-size: cover;
  position: absolute;
  left: -15px;
  top: 11px;
}

.form .bank-list {
  height: 32px;
}

.form .bank-list a {
  font-size: 12px;
  line-height: 32px;
  color: #fd8923;
  float: right;
}

.form .btn {
  display: block;
  outline: none;
  width: 94.2%;
  margin: 0.9rem auto 0;
  height: 44px;
  border: none;
  border-radius: 22px;
  font-size: 16px;
  color: #fff;
  box-shadow: 0 0 20px rgba(255, 86, 55, 0.5);
  background: linear-gradient(left, #fe7229, #ff5637);
}

.form .foot-title {
  margin-top: 5px;
  margin-bottom: 89px;
}

.form .foot-title p {
  text-align: center;
  font-size: 14px;
  line-height: 32px;
  color: #999;
}

.form .foot-title p a {
  color: #ff5637;
}

.form .agree {
  position: absolute;
  bottom: 26px;
  width: 86%;
  left: 7%;
}

.form .agree p {
  font-size: 12px;
  line-height: 15px;
  color: #a3a2a8;
  margin-left: 20px;
}

.form .agree p a {
  color: #a3a2a8;
}
.form .agree .a_cb {
  width: 12px;
  height: 12px;
  float: left;
  display: inline-block;
}

.form .footer-title {
  font-size: 12px;
  line-height: 35px;
  color: #fd8923;
  transform: scale(0.8, 0.8);
  white-space: nowrap;
  height: 0;
}

.form .footer-title:before {
  content: "";
  width: 13px;
  height: 13px;
  background: url(/static/img/loan_reg.png) no-repeat center;
  background-size: cover;
  position: absolute;
  left: -15px;
  top: 11px;
}
